.TaxToolForm {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  padding-bottom: 5px;
}

#income {
  max-width: 120px;
}
