.Logo {
  display: flex;
  font-weight: bold;
  box-sizing: border-box;
  height: 90%;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
}

.LogoJ {
  color: #ecebe8;
  font-size: 30pt;
  position: relative;
  bottom: 8px;
  left: 3px;
}

.LogoA {
  color: #ecebe8;
  font-size: 30pt;
  position: relative;
  right: 8px;
}

.Logo div:hover,
.Logo div:active {
  background-color: #8f5c1c;
  border-bottom: 4px solid #40a4c8;
  color: white;
}
