body {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #ecebe8;
}

header {
  background-color: #202b35;
  color: #ecebe8;
  z-index: 101;
}

footer {
  background-color: #202b35;
  height: 25px;
}

* {
  color: #463730;
  font-family: "Bree Serif", serif;
  font-size: 15pt;
}
